* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

body {
    min-height: 100vh;
}

#links {
    background-color: #333;
}

#links ul {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 10px;
}

#links li {
    list-style: none;

}

#links a {
    color: white;
    text-decoration: none;
    text-decoration: none;
}

#maca {
    color: white;
    font-size: 26px;
}

.title {
    background-color: white;
    padding: 10px;
}

.title ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.title a {
    text-decoration: none;
    color: #333;
}

.title li {
    list-style: none;

}

h1 {
    font-size: 20px;
    margin-right: 500px;
}

#comprar {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0, 3s;
}

#comprar:hover {
    background-color: rgb(162, 162, 234);
}

.saibaMais {
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 14px;
    padding: 10px;
}

section a {
    color: blue;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
}

#ip {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#texto {
    max-width: 600px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

hr {
    color: #333;
}

#trecho {
    text-align: center;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
}

#botao2 {
    background-color: blue;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 730px;
    font-size: 16px;
    cursor: pointer;
    transition: 0, 3s;
}

#botao2:hover {
    background-color: rgb(162, 162, 234);
}

img {
    width: 50%;
    margin-left: 400px;
    padding: 20px;
}

.btncores {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 30px;
}

.cor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cor p{
    padding: 12px;
    font-size: 14px;
}

#verde {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #576856;
    display: inline-block;
    margin-right: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


#verde:hover {
    border: 2px solid blue;
    cursor: pointer;
}


#prateado {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f1f2ed;
    display: inline-block;
    margin-right: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#prateado:hover {
    border: 2px solid blue;
    cursor: pointer;
}


#dourado {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:#fae7cf;
    display: inline-block;
    margin-right: 12px;
    border: blue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


#dourado:hover {
    border: 2px solid blue;
    cursor: pointer;
}


#grafite {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #54524f;
    display: inline-block;
    margin-right: 12px;
    border: blue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#grafite:hover {
    border: 2px solid blue;
    cursor: pointer;
}

#azul {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  #a7c1d9;
    display: inline-block;
    margin-right: 12px;
    border: blue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


#azul:hover {
    border: 2px solid blue;
    cursor: pointer;
}

#img2,
#img3,
#img4,
#img5{
    display: none;
}